.git
.github
.gitattributes
.gitignore
.editorconfig

node_modules
vendor

.env
.env.*
!.env.example

storage/app/public/*
!storage/app/public/.gitignore
storage/app/private/*
!storage/app/private/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore

database/database.sqlite
database/database.sqlite-journal

public/build
public/hot

tests
phpunit.xml

Dockerfile
Dockerfile.*
.dockerignore
docker-compose*.yml

.vscode
.idea
.fleet
.phpactor.json
.phpunit.result.cache

*.md
!public/**/*.md
